<div>
  <p>Hourly statistics.</p>
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData | async"
            [labels]="barChartLabels | async"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>
</div>
