<h1>Bonjour</h1>
<p>Nothing there</p>
<ul>
  <li><strong>Test Task</strong> implemented at <em>Charts</em> </li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>You can run <code>ImageProcessingIntegrationTest.GenerateStats</code> test to populate some data there</p>
