<h1>Pie chart</h1>

<p>All tags, all time.</p>
<button (click)="refreshClicked()" class="btn btn-light">Refresh</button>
<div class="chart">
  <canvas baseChart
          [data]="pieChartData | async"
          [labels]="pieChartLabels | async"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [colors]="pieChartColors | async"
          [legend]="pieChartLegend"
  (chartClick)="chartClicked($event)">
  </canvas>
</div>
<div>
  <app-bar-chart></app-bar-chart>
</div>
